

.auth-form{
    display: flex;
    flex-direction: column;
    
   
}
.regis {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
    display: block;
    width: auto;
    
}
.register {
    padding-left: 40px;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
}
.icon {
    font-size: 70px;
    padding-left: 230px;
    padding-bottom: 8px;
    text-align: center;
}
form {
    margin: 0 100px 0 100px;
  }
.reg-title {
    margin: 8px 0 15px 0;
    font-size: 17px;
}
.radio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 14px;

}
.signinregister {
    padding-top: 8px;
}
.password {
    padding-bottom: 10px;
}

@media screen and (max-width:700px){
    .auth-form{
        width: 80%;
        align-items: center;
        padding-left: 12px;
    }
    form{
        margin: 10px 10px 10px 20px;
    }
    .register h2 {
        text-align: center;
        font-size: 2.2rem;
    }
    .radio {
        padding: 15px;
    }
}
