.card{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.items{
    margin:3rem 0 ;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

