.card{
    margin: 5px;
    display: flex;
    justify-content: space-around;
}

.items{
    margin:3rem 0 ;
    display: grid;
    grid-template-columns: 18rem 18rem 18rem 18rem 18rem;
    grid-gap: 15px;
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    /* align-items: center; */
    width: 100%;
    /* text-align: center; */
}

@media screen and (max-width:600px){
    .items{
        margin:2rem 0 ;
        display: grid;
        grid-template-columns: 18rem  ;
        /* grid-gap: 10px; */
    }
}