*{
    margin: 0;
    padding: 0;
}
.mini-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    text-align: center;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.13);
    padding: 17px;
    background-color: aliceblue;
}
.header-item{
    flex-grow: 1;
}
.mini-header > p {
    font-size: 1.6rem;
    flex-grow: 3;
    font-weight: bold;
   
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
a:hover{
    color: rgb(110, 166, 180);
}

.hero-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1610008885395-d4b47c2f5c8c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 80vh;
   
}


.all-events {
    display: flex;
    justify-content: space-evenly;
    padding: 2px 16px;
    width: 90%;
    margin: 0 auto;
    
}
.event {
    flex-basis: 0;
    flex-grow: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 6px;
    padding: 10px;
    width: 40%;
}

