*{
    margin: 0 20px;
    padding: 0;
    box-sizing: border-box;
}

.footer {
    background-color: #253c5e;
    padding: 50px 20px;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;

}
.ft-container{
    width: 100%;
    
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: flex-end; */
    flex-wrap: wrap;
    color: aliceblue;
    padding-left: 250px;
}

.footer-item {
    width: 90%;
    flex: 1;
}

.footer h4 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: aliceblue;
}

.footer ul{
    list-style-type: none;
    color: aliceblue;
}

.footer a{
    text-decoration: none;
    color: aliceblue;
    font-size: 1rem;
    
}
.list{
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px){
    .footer{
        flex-direction: column;
        /* padding: 20px 10px; */
    }
    .ft-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 12px;
    }
    .footer-item {
       flex-basis: 0;
       padding-bottom: 10px;
       text-align: center;
    }
        
}