.horizontal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    /* border: 3px solid black; */


}
.post_card{
    margin:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title{
    width: 100%;
    text-align: center;
    padding: 20px;
    color:#3F51B5 ;

}
.Post_height{
    min-width: 40rem;
    border: 3px solid black;
}