@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

.App{
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: blue; */
    width: 100vw;
    padding: 1rem;
    box-sizing: border-box;
    background: linear-gradient(to bottom #0d47a1, #64b5f6, #0d47a1,#64b5f6);

    text-align: center;
}

.row{
    margin: 4rem auto;
    display: flex;
    justify-content: center ;
    margin: auto !important ;
    max-width: 100% !important;
    padding: 2rem;
}

input{float: inline-start;}

input[type='file'] {
    color: rgba(0, 0, 0, 0)
  }

.card-content, .card-action{
    font-family: 'Bilbo', cursive
}

/* .card-content h3{
    color: #eee;
} */

  button{
      padding: 0.5rem;
      outline: none;
      border: none;
      color: #fff;
      border-radius: 5px;
  }