.App{
    width:1600px;
    margin: auto auto;
    max-width: 100%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}